:root {
    --font-fraunces-bold: font-family: 'Fraunces', serif;
    --font-monserrat-normal: font-family: 'Montserrat', sans-serif;
    --dark-cyan-rgb: rgb(15, 111, 104);
    --cream-rgb: rgb(241, 216, 184);
    --very-dark-blue-rgb: rgb(16, 19, 39);
    --dark-grayish-blue-rgb: rgb(84, 94, 114);
    --white-rgb: rgb(255, 255, 255);
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *::before, *::after {
    box-sizing: inherit;
}

body { 
    background-color: var(--cream-rgb);
    font-size: var(--);
    font-size: 1.4rem;
}
body {
   
}
/* Utility */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.center-content {
    text-align: center;
}

/* Main Content */
.container {
    display: flex;
    flex-direction: row; 
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    width: min(90%, 47rem);
    margin: 0 auto;
    height: 100vh; /* Set the height to 100% of the viewport */
}
/* Card */
.card__image {
    flex: 0 0 calc(50% - 1rem);
}
.image-product{
    height: 43.5rem;
}
.card__info {
    height: 43.5rem;
    flex: 0 0 calc(50% - 1rem);
    background-color: aliceblue;
}