:root {
    --font-fraunces-bold: 'Fraunces', serif;
    --font-monserrat-normal: 'Montserrat', sans-serif;
    --dark-cyan-rgb: rgb(15, 111, 104);
    --cream-rgb: rgb(241, 216, 184);
    --very-dark-blue-rgb: rgb(16, 19, 39);
    --dark-grayish-blue-rgb: rgb(84, 94, 114);
    --white-rgb: rgb(255, 255, 255);
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *::before, *::after {
    box-sizing: inherit;
}

body { 
    background-color: var(--cream-rgb);
    font-size: 1.4rem;
}
/* Utility */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.center-content {
    text-align: center;
}

/* Main Content */

.container {  
    width: min(90%, 120rem);
    margin: 0 auto;
    
}

/* Card */
.card {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    max-width: 55em; 
    height: 100vh;
    
    
    
}
.card__image {
    /* flex: 0 0 calc(50% - 1rem); */
    height: 43rem;
    
}
.image-product{
    height: 43rem;
    border-radius: 19px 0 0 19px;
}
.card__info {
    padding: 1rem 3rem;
    flex: 0 0 calc(30% - 1rem);
    min-height: 43rem;
    height: auto;
    background-color: var(--white-rgb);
    border-radius: 0 19px 19px 0;
}
.card__info--header{
    font-family: var(--font-monserrat-normal);
    text-transform: uppercase;
    /* font-weight: 100; */
    color: var(--dark-grayish-blue-rgb);
    
}
.card__info--description{
    color: var(--dark-grayish-blue-rgb);
}
.card__info--title {
    font-family: var(--font-fraunces-bold);
    font-size: 32px;
}
.card__info--description{
    font-family: var(--font-monserrat-normal);
}
.card__info--price{
    font-family: var(--font-fraunces-bold);
    color: var(--dark-cyan-rgb);
    font-size: 26px;
   
}
.card__info--button {
    background-color: var(--dark-cyan-rgb);
    border: none;
    border-radius: 5px;
    height: 4rem;
    width: 23rem;
    font-family: var(--font-monserrat-normal);
    font-size: 700;
    color: var(--white-rgb);
} 